/* Juliana Elen Silva Oliveira */
/* RA: 2021005540 */

/* Color Theme Swatches in RGBA */
.color-theme_spray-1-rgba { color: rgba(166, 132, 91, 1); }
.color-theme_spray-2-rgba { color: rgba(191, 155, 111, 1); }
.color-theme_spray-3-rgba { color: rgba(140, 88, 42, 1); }
.color-theme_spray-4-rgba { color: rgba(115, 60, 29, 1); }
.color-theme_spray-5-rgba { color: rgba(38, 10, 4, 1); }

/* Color Theme Swatches in RGBA */
.color-theme_logo-1-rgba { color: rgba(50, 89, 44, 1); }
.color-theme_logo-2-rgba { color: rgba(94, 166, 75, 1); }
.color-theme_logo-3-rgba { color: rgba(107, 166, 91, 1); }
.color-theme_logo-4-rgba { color: rgba(242, 242, 242, 1); }
.color-theme_logo-5-rgba { color: rgba(13, 13, 13, 1); }

/* Color Theme Swatches in RGBA */
.color-theme_fundoFinal-1-rgba { color: rgba(140, 22, 44, 1); }
.color-theme_fundoFinal-2-rgba { color: rgba(217, 179, 145, 1); }
.color-theme_fundoFinal-3-rgba { color: rgba(191, 140, 111, 1); }
.color-theme_fundoFinal-4-rgba { color: rgba(166, 95, 70, 1); }
.color-theme_fundoFinal-5-rgba { color: rgba(64, 29, 21, 1); }

/* Color Theme Swatches in RGBA */
.color-theme_condicionador-1-rgba { color: rgba(240, 240, 242, 1); }
.color-theme_condicionador-2-rgba { color: rgba(7, 9, 13, 1); }
.color-theme_condicionador-3-rgba { color: rgba(191, 117, 75, 1); }
.color-theme_condicionador-4-rgba { color: rgba(166, 109, 88, 1); }
.color-theme_condicionador-5-rgba { color: rgba(217, 167, 150, 1); }

/* Gradient in RGBA */
/* linear-gradient(to right, rgba(192, 144, 106, 1) 0%, 21.169355511665344%, rgba(221, 185, 149, 1) 42.33871102333069%, 63.50806653499603%, rgba(208, 165, 130, 1) 84.67742204666138%, 92.33871102333069%, rgba(170, 124, 88, 1) 100%); */
